.parallax {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.scroller {
  display: flex;
  white-space: nowrap;
  width: max-content;
}

.scroller span {
  flex-shrink: 0;
  display: flex;
}
